<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <h1>Article Management System</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Action</th>
        </tr>
        <tr th:each="article: ${articles}">
            <td>[[${article.id}]] </td>
            <td th:text="${article.getTitle()}"></td>
            <td th:text="${article.getAuthor()}"></td>
            <td th:text="${article.getPublisher()}"></td>
            <td>
                <a th:href="@{/view/{id}(id=${article.getId()})}"><button>View</button></a>
                <a th:href="@{/update/{article_id}(article_id=${article.getId()})}"><button>Update</button></a>
                <button class="btn-delete" th:attr="data-id=${article.getId()}">Delete</button>

            </td>
        </tr>
    </table>
    <script > </script>
</body>
</html>